<style>
  /* form styling  */
  .form_container {
    border-radius: 12px;
  }

  @media screen and (max-width: 576px) {
    .nav_logo {
      width: 120px;
    }

    .carousel-item {
      height: 50vh !important;
    }

    .hero_title {
      font-size: 30px;
      line-height: 35px;
      font-weight: 700;
    }

    .carousel_sub {
      font-size: 15px;
    }

    .titles {
      font-size: 28px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      display: none;
    }
  }
</style>

<!-- ======= Contact Us ======= -->

<div class="container mt-5 py-5">
  <div class="text-center my-5">
    <h6 class="sub_titles">CONTACT US</h6>
    <h3 class="titles my-3">
      Get In Touch <span class="text_deco">With Us</span>
    </h3>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-4">
      <div class="row mb-4">
        <div class="col-2 d-flex align-items-center">
          <i
            class="bi bi-house bg-danger p-3 text-white"
            style="border-radius: 12px"
          ></i>
        </div>
        <div class="col d-flex align-items-center">
          <p class="mb-0">917 Morkels Cl, Halfway House, Midrand, 1685</p>
        </div>
      </div>
      <!-- end item  -->
      <div class="row mb-4">
        <div class="col-2">
          <i
            class="bi bi-telephone bg-danger p-3 text-white"
            style="border-radius: 12px"
          ></i>
        </div>
        <div class="col d-flex align-items-center">
          <a href="tel:0110246820">
            <p class="mb-0">+27 11 024 6820</p>
          </a>
        </div>
      </div>
      <!-- end item  -->
      <div class="row mb-4">
        <div class="col-2 d-flex align-items-center">
          <i
            class="bi bi-telephone bg-danger p-3 text-white"
            style="border-radius: 12px"
          ></i>
        </div>
        <div class="col d-flex align-items-center">
          <a href="tel:0865698906">
            <p class="mb-0">+27 86 569 8906</p>
          </a>
        </div>
      </div>
      <!-- end item  -->
      <div class="row mb-4">
        <div class="col-2 d-flex align-items-center">
          <i
            class="bi bi-envelope bg-danger p-3 text-white"
            style="border-radius: 12px"
          ></i>
        </div>
        <div class="col d-flex align-items-center">
          <a href="mailto: sales@prottlok.com">
            <p class="mb-0">Sales@prottlok.com</p>
          </a>
        </div>
      </div>
      <!-- end item  -->
    </div>

    <div class="col">
      <div class="bg-dark p-4 form_container">
        <form
          action="https://formsubmit.co/thulanencholo95@gmail.com"
          method="POST"
        >
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Your Name"
            />
            <label for="name">Your Name</label>
          </div>
          <!-- end input item  -->
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Your Email"
            />
            <label for="email">Your Email</label>
          </div>
          <!-- end input item  -->
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="phone"
              name="number"
              placeholder="Your Number"
            />
            <label for="phone">Your Number</label>
          </div>
          <!-- end input item  -->
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="message"
              name="message"
              style="height: 100px"
            ></textarea>
            <label for="message">Message</label>
          </div>
          <!-- end input item  -->
          <center>
            <button type="submit" class="btn btn-light my-3">
              Send Message
            </button>
          </center>
        </form>
      </div>
    </div>
  </div>
</div>
