{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}

<style>
  :root {
    --primary-color: #ed1c24;
    --secondary-color: #808285;
    --sub-color: #000000;
    --sub-titles: #cacaca;
    --background-color: #e4eaff;
    --secondary-background: #f7f9fa;
  }

  .map_card {
    height: 450px;
    width: 100%;
    border-radius: 12px;
  }
</style>

<!-- ======= Wave Component  ======= -->
<div>
  <img
    class="d-none d-md-block"
    src="{% static '/images/wave.svg' %}"
    alt=""
    style="width: 100%; height: 400px; object-fit: cover"
  />

  <img
    class="d-block d-md-none"
    src="{% static '/images/wave.svg' %}"
    alt=""
    style="width: 100%; height: 120px; object-fit: cover"
  />
</div>

<!-- ======= Contact Component  ======= -->
{% include 'partials/contact.html' %}

<!-- ======= Maps Component  ======= -->
<div class="container mb-5" style="margin-top: 100px">
  <iframe
    class="map_card"
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7171.141203331393!2d28.12533!3d-26.01488!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e956dfb37ee8e3d%3A0xecaf29b859b02381!2sAllendale%20Business%20Park!5e0!3m2!1sen!2sza!4v1688295001732!5m2!1sen!2sza"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>

<!-- divider  -->
{% endblock %}
