{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}
<style>
  :root {
    --primary-color: #ed1c24;
    --secondary-color: #808285;
    --sub-color: #000000;
    --sub-titles: #cacaca;
    --background-color: #e4eaff;
    --secondary-background: #f7f9fa;
  }

  /* Certificate  */
  .certificate_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('{% static "images/server_banner_rotate.jpg" %}');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .certificat_icon {
    font-size: 35px;
  }

  .certificat_heading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
  }

  .certificate_p {
    font-size: 15px;
  }

  .service_card {
    border-radius: 12px;
    height: 400px;
  }

  .active_service_card {
    border-radius: 12px;
    background-color: var(--primary-color);
    height: 400px;
  }

  .service_icon {
    font-size: 40px;
    color: var(--primary-color);
  }

  .service_heading {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .service_title {
    font-size: 22px;
    line-height: 32px;
  }

  .service_title_border {
    height: 2px;
    width: 10%;
    background-color: var(--primary-color);
  }

  /* Automation  */
  .automation_card {
    border-radius: 12px;
  }

  .automation_image {
    height: 400px;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }

  @media screen and (max-width: 576px) {
    .nav_logo {
      width: 120px;
    }

    .carousel-item {
      height: 50vh !important;
    }

    .hero_title {
      font-size: 30px;
      line-height: 35px;
      font-weight: 700;
    }

    .carousel_sub {
      font-size: 15px;
    }

    .titles {
      font-size: 28px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      display: none;
    }
  }
</style>

<!-- ======= Service Heading ======= -->
<div class="container mt-5">
  <div class="text-center service_heading">
    <h6 class="sub_titles">OUR SERVICES</h6>
    <h3 class="titles my-3">
      High Performance Services
      <span class="text_deco">For Multiple Industries</span>
    </h3>
  </div>
</div>

<!-- ======= Services ======= -->
<div class="container mt-5">
  <div class="row">
    {% for data in services %}
    <!-- divider  -->
    {% if data.active == 'Yes' %}
    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="shadow p-4 active_service_card">
        <i class="bi bi-gear-fill service_icon mb-5 text-white"></i>
        <h4 class="service_title fw-bold mt-2 text-white">{{data.title}}</h4>
        <div class="service_title_border mb-4 bg-white"></div>
        <p class="text-light">{{data.description}}</p>
      </div>
    </div>
    {% else %}
    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="service_card shadow p-4">
        <i class="bi bi-gear-fill service_icon mb-5"></i>
        <h4 class="service_title fw-bold mt-2">{{data.title}}</h4>
        <div class="service_title_border mb-4"></div>
        <p class="text-secondary">{{data.description}}</p>
      </div>
    </div>
    {% endif%}
    <!-- divider  -->
    {% endfor %}
  </div>
</div>

<!-- ======= Certifications ======= -->
<div class="mt-5">
  <div
    class="certificate_container d-flex align-items-center d-flex justify-content-center py-5"
  >
    <div>
      <center>
        <h3 class="titles text-white fw-bold mb-5">Certification.</h3>
      </center>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3 mb-5">
            <div>
              <center>
                <i
                  class="bi bi-c-circle-fill p-3 bg-light text-danger rounded-circle certificat_icon"
                ></i>
                <h6 class="text-white certificat_heading">License</h6>
                <p class="text-white mb-0 certificate_p">
                  Electrical Contractors Association (ECA) – Wireman's license
                </p>
              </center>
            </div>
          </div>
          <!-- end service item  -->
          <div class="col-12 col-md-3 mb-5">
            <div>
              <center>
                <i
                  class="bi bi-person-workspace p-3 bg-light text-danger rounded-circle certificat_icon"
                ></i>
                <h6 class="text-white certificat_heading">VSD Training</h6>
                <p class="text-white mb-0 certificate_p">
                  ABB, Danfoss, Rockwell, Siemens, Mitsubishi, WEG Expert Level
                  VSD Training
                </p>
              </center>
            </div>
          </div>
          <!-- end service item  -->
          <div class="col-12 col-md-3 mb-5">
            <div>
              <center>
                <i
                  class="bi bi-c-circle-fill p-3 bg-light text-danger rounded-circle certificat_icon"
                ></i>
                <h6 class="text-white certificat_heading">Certification</h6>
                <p class="text-white mb-0 certificate_p">
                  Profibus Engineers Certification
                </p>
              </center>
            </div>
          </div>
          <!-- end service item  -->
          <div class="col-12 col-md-3 mb-5">
            <div>
              <center>
                <i
                  class="bi bi-person-workspace p-3 bg-light text-danger rounded-circle certificat_icon"
                ></i>
                <h6 class="text-white certificat_heading">PLC Training</h6>
                <p class="text-white mb-0 certificate_p">
                  Expert Level PLC Training
                </p>
              </center>
            </div>
          </div>
          <!-- end service item  -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ======= AUTOMATION ======= -->
<div class="bannerBackground py-5">
  <div class="container mt-5" style="margin-bottom: 100px">
    <div class="text-center service_heading">
      <h3 class="titles my-3">
        Automation & System
        <span class="text_deco">Intergration</span>
      </h3>
      <h6 class="sub_titles">
        Delivering Equipment and Value-Added Services: Prottolk's Solutions for
        Industrial Excellence
      </h6>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <img
          src="{% static '/images/speed.jpg' %}"
          alt="prottolk automation services"
          class="automation_image"
        />
      </div>
      <div class="col mb-3">
        <h4 class="service_title fw-bold mt-2 mb-3">Variable Speed Drive</h4>
        <div
          class="d-flex p-3 border mb-3 shadow shadow-sm"
          style="border-radius: 12px"
        >
          <i
            class="bi bi-check-circle-fill text-danger"
            style="margin-right: 20px"
          ></i>
          <p class="mb-0">Application Design and Sizing</p>
        </div>
        <!-- end list item  -->
        <div
          class="d-flex p-3 border mb-3 shadow shadow-sm"
          style="border-radius: 12px"
        >
          <i
            class="bi bi-check-circle-fill text-danger"
            style="margin-right: 20px"
          ></i>
          <p class="mb-0">Preventative and Predictive Maintenance</p>
        </div>
        <!-- end list item  -->
        <div
          class="d-flex p-3 border mb-3 shadow shadow-sm"
          style="border-radius: 12px"
        >
          <i
            class="bi bi-check-circle-fill text-danger"
            style="margin-right: 20px"
          ></i>
          <p class="mb-0">After Sales Support</p>
        </div>
        <!-- end list item  -->
        <div
          class="d-flex p-3 border mb-3 shadow shadow-sm"
          style="border-radius: 12px"
        >
          <i
            class="bi bi-check-circle-fill text-danger"
            style="margin-right: 20px"
          ></i>
          <p class="mb-0">Crane Drives Specialists</p>
        </div>
        <!-- end list item  -->
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <h4 class="service_title fw-bold mt-2">Solar Inverters</h4>
        <div
          class="d-flex p-3 border mb-3 shadow shadow-sm"
          style="border-radius: 12px"
        >
          <i
            class="bi bi-check-circle-fill text-danger"
            style="margin-right: 20px"
          ></i>
          <p class="mb-0">Preventative and Predictive Maintenance</p>
        </div>
        <!-- end list item  -->
        <div
          class="d-flex p-3 border mb-3 shadow shadow-sm"
          style="border-radius: 12px"
        >
          <i
            class="bi bi-check-circle-fill text-danger"
            style="margin-right: 20px"
          ></i>
          <p class="mb-0">Installation of Solar Panels</p>
        </div>
        <!-- end list item  -->
        <div
          class="d-flex p-3 border mb-3 shadow shadow-sm"
          style="border-radius: 12px"
        >
          <i
            class="bi bi-check-circle-fill text-danger"
            style="margin-right: 20px"
          ></i>
          <p class="mb-0">Installation & Commissioning of Solar Inverter</p>
        </div>
        <!-- end list item  -->
      </div>
      <div class="col-12 col-md-6 mb-3">
        <img
          src="{% static '/images/solar.jpg' %}"
          alt="prottolk installation and soloar inverter"
          class="automation_image"
        />
      </div>
    </div>
  </div>
</div>

<!-- divider  -->
{% endblock %}
